<section id="ts-team" class="ts-team">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-title">Slider JS</h2>
      <h3 class="section-sub-title">FEATURED PROPERTIES</h3>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div id="team-slide" class="owl-carousel owl-theme team-slide">
        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project1.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
              <h3 class="ts-name">Nats Stenman</h3>
              <p class="ts-designation">Chief Operating Officer</p>
              <p class="ts-description">
                Nats Stenman began his career in construction with boots on the
                ground
              </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 1 end -->

        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project2.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
              <h3 class="ts-name">$ 1,534.000</h3>
              <p class="ts-designation">lorem ipsum</p>
              <p class="ts-description">
                Nats Stenman began his career in construction with boots on the
                ground
              </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 2 end -->

        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project3.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
              <h3 class="ts-name">$ 1,004.000</h3>
              <p class="ts-designation">lorem ipsum</p>
              <p class="ts-description">
                Nats Stenman began his career in construction with boots on the
                ground
              </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 3 end -->

        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project4.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
              <h3 class="ts-name">$ 3,534.000</h3>
              <p class="ts-designation">lorem ipsum</p>
              <p class="ts-description">
                Nats Stenman began his career in construction with boots on the
                ground
              </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 4 end -->

        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project5.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
              <h3 class="ts-name">Dave Clarkte</h3>
              <p class="ts-designation">Civil Engineer</p>
              <p class="ts-description">
                Nats Stenman began his career in construction with boots on the
                ground
              </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 5 end -->

        <div class="item">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img
                alt=""
                src="assets/images/projects/project6.jpg"
                class="img-responsive"
              />
            </div>
            <div class="ts-team-content">
                <h3 class="ts-name">$ 534.000</h3>
                <p class="ts-designation">lorem ipsum</p>
                <p class="ts-description">
                  Nats Stenman began his career in construction with boots on the
                  ground
                </p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper end -->
        </div>
        <!-- Team 6 end -->
      </div>
      <!-- Team slide end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ Team end -->
